.layout {
  width: 500px;
}

.kia {
  width: 500px;
  height: auto;
  border-radius: 20px;
}

.text {
  margin-top: 20px;
  font-weight: 700;
  font-size: 2rem;
  text-align: left;
}

.text2 {
  font-weight: 500;
  font-size: 1.5rem;
  color: #637387;
  text-align: left;
}
